DATABASE_URL="postgresql://..."
NEXT_PUBLIC_NEON_AUTH_URL="https://your-neon-auth-url/neondb/auth"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloud-name"
NEXT_PUBLIC_SITE_URL="https://portfolio-premium-2026.vercel.app"
